Product/Production/Gateway/AurionNhinServicesWeb/src/main/java/META-INF/AdapterNotificationConsumerSecured.xml

<?xml version="1.0" encoding="utf-8"?>
<!-- 

		OASIS takes no position regarding the validity or scope of any 
		intellectual property or other rights that might be claimed to 
		pertain to the implementation or use of the technology described 
		in this document or the extent to which any license under such 
		rights might or might not be available; neither does it represent 
		that it has made any effort to identify any such rights. 
		Information on OASIS's procedures with respect to rights in 
		OASIS specifications can be found at the OASIS website. Copies 
		of claims of rights made available for publication and any 
		assurances of licenses to be made available, or the result of 
		an attempt made to obtain a general license or permission for 
		the use of such proprietary rights by implementors or users 
		of this specification, can be obtained from the OASIS Executive 
		Director.
		
		OASIS invites any interested party to bring to its attention 
		any copyrights, patents or patent applications, or other 
		proprietary rights which may cover technology that may be 
		required to implement this specification. Please address the 
		information to the OASIS Executive Director.
		
		Copyright (C) OASIS Open (2004-2006). All Rights Reserved.
		
		This document and translations of it may be copied and furnished 
		to others, and derivative works that comment on or otherwise 
		explain it or assist in its implementation may be prepared, 
		copied, published and distributed, in whole or in part, without 
		restriction of any kind, provided that the above copyright notice 
		and this paragraph are included on all such copies and derivative 
		works. However, this document itself may not be modified in any 
		way, such as by removing the copyright notice or references to 
		OASIS, except as needed for the purpose of developing OASIS 
		specifications, in which case the procedures for copyrights 
		defined in the OASIS Intellectual Property Rights document must 
		be followed, or as required to translate it into languages other 
		than English. 
	
		The limited permissions granted above are perpetual and will not 
		be revoked by OASIS or its successors or assigns. 
		
		This document and the information contained herein is provided 
		on an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS 
		OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE 
		USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR 
		ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A 
		PARTICULAR PURPOSE.
	
	-->
<wsdl:definitions xmlns:tns="urn:org:alembic:aurion:adapternotificationconsumersecured" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:nccommonadapter="urn:org:alembic:aurion:common:nhinccommonadapter" xmlns:nccommonentity="urn:org:alembic:aurion:common:nhinccommonentity" name="AdapterNotificationConsumerSecured" targetNamespace="urn:org:alembic:aurion:adapternotificationconsumersecured" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:nccommon="urn:org:alembic:aurion:common:nhinccommon" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="urn:org:alembic:aurion:common:nhinccommonadapter" schemaLocation="../schemas/nhinc/common/NhincCommonAdapter.xsd"/>
			<xsd:import namespace="urn:org:alembic:aurion:common:nhinccommon" schemaLocation="../schemas/nhinc/common/NhincCommon.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NotifyRequestSecured">
		<wsdl:part name="NotifyRequestSecured" element="wsnt:Notify"/>
	</wsdl:message>
	<wsdl:message name="NotifyResponseMessage">
		<wsdl:part name="NotifyResponse" element="nccommon:Acknowledgement"/>
	</wsdl:message>
	<wsdl:message name="NotifySubscribersOfDocumentRequestSecuredMessage">
		<wsdl:part name="NotifySubscribersOfDocumentRequestSecured" element="nccommonadapter:NotifySubscribersOfDocumentRequestSecured"/>
	</wsdl:message>
	<wsdl:message name="NotifySubscribersOfDocumentResponseMessage">
		<wsdl:part name="NotifySubscribersOfDocumentResponse" element="nccommon:Acknowledgement"/>
	</wsdl:message>
	<wsdl:portType name="AdapterNotificationConsumerPortSecureType">
		<wsdl:operation name="Notify">
			<wsdl:input name="NotifyRequestSecured" message="tns:NotifyRequestSecured" wsaw:Action="urn:org:alembic:aurion:adapternotificationconsumersecured:NotifyRequestSecured"/>
			<wsdl:output name="NotifyResponse" message="tns:NotifyResponseMessage" wsaw:Action="urn:org:alembic:aurion:adapternotificationconsumersecured:NotifyResponseMessage"/>
		</wsdl:operation>
		<wsdl:operation name="NotifySubscribersOfDocument">
			<wsdl:input name="NotifySubscribersOfDocumentRequestSecured" message="tns:NotifySubscribersOfDocumentRequestSecuredMessage"/>
			<wsdl:output name="NotifySubscribersOfDocumentResponse" message="tns:NotifySubscribersOfDocumentResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AdapterNotificationConsumerSecureBindingSoap" type="tns:AdapterNotificationConsumerPortSecureType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsp:PolicyReference URI="#AdapterNotificationConsumerSecuredPortType_SoapPolicy"/>
		<wsdl:operation name="NotifySubscribersOfDocument">
			<soap:operation soapAction="urn:NotifySubscribersOfDocument"/>
			<wsdl:input name="NotifySubscribersOfDocumentRequestSecured">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="NotifySubscribersOfDocumentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Notify">
			<soap:operation soapAction="urn:Notify"/>
			<wsdl:input name="NotifyRequestSecured">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="NotifyResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AdapterNotificationConsumerSecured">
		<wsdl:port name="AdapterNotificationConsumerPortSecureType" binding="tns:AdapterNotificationConsumerSecureBindingSoap">
			<soap:address location="https://localhost:${HttpsDefaultPort}/NhinConnect/AdapterNotificationConsumerSecured"/>
		</wsdl:port>
	</wsdl:service>
	<wsp:Policy wsu:Id="AdapterNotificationConsumerSecuredPortType_SoapPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
					<sc:KeyStore wspp:visibility="private" aliasSelector="org.alembic.aurion.callback.KeyStoreClientAliasSelector" callbackHandler="org.alembic.aurion.callback.KeyStoreCallbackHandler"/>
					<sc:TrustStore wspp:visibility="private" certSelector="org.alembic.aurion.callback.TrustStoreAliasSelector" callbackHandler="org.alembic.aurion.callback.TrustStoreCallbackHandler"/>
					<sc:CallbackHandlerConfiguration wspp:visibility="private">
						<sc:CallbackHandler name="samlHandler" classname="org.alembic.aurion.callback.SamlCallbackHandler"/>
					</sc:CallbackHandlerConfiguration>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</wsdl:definitions>
